/* Google stuff*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Defualt styles */
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    /* overflow: hidden; */
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button svg {
    width: 100%;
    height: 100%;
    fill: #FFF;
    pointer-events: none;
}

/* Custom styles */
#content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;

}

#msg-box {
    position: relative;
    width: 100%;
    min-height: 100vh;
    align-content: center;
    text-align: center;
}

#msg-box .msg,
#canvas-box .msg {
    position: absolute;
    width: inherit;
    left: 50%;
    top: 50%;
    padding: 0 25px;
    font-size: 1.5rem;
    line-height: 2rem;
    transform: translate(-50%, -50%);
    text-align: center;
}

#msg-box .msg {
    left: 50%;
    top: -100%;
}

#msg-box .msg .highlight {
    padding: 2.5px 5px;
    background-color: rebeccapurple;
    color: #FFF;
}

#msg-box .msg:nth-child(1){
    font-size: 3rem;
    animation: msg-in-out 5s calc(0*4.5s) forwards;
}

#msg-box .msg:nth-child(2){
    animation: msg-in-out 5s calc(1*4.5s) forwards;
}

#msg-box .msg:nth-child(3){
    animation: msg-in-out 5s calc(2*4.5s) forwards;
}

#msg-box .msg:nth-child(4){
    animation: msg-in-out 5s calc(3*4.5s) forwards;
}

#msg-box .msg:nth-child(5){
    animation: msg-in-out 5s calc(4*4.5s) forwards;
}

#msg-box .msg:nth-child(6){
    animation: msg-in 5s calc(5*4.5s) forwards;
}

#msg-box .msg:nth-child(6) .button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgb(102, 51, 153);
    animation: button-shake 3s calc(5*4.5s) infinite;
}

@keyframes msg-in-out {
    0% {
        opacity: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    20%, 80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes msg-in {
    0% {
        opacity: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    20% {
        opacity: 1;
    }
    100% {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes button-shake {
    83% {
        transform: rotate(0deg);
    }
    84%, 90.4%, 96.8% {
        transform: rotate(10deg);
    }
    87.2%, 93.6% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#canvas-box {
    position: relative;
}

#canvas-box #canvas {
    width: 100vw;
    height: 100vh;
    background-color: orange;
    touch-action: none;
}

#canvas-box::before {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
}

#canvas-box .msg {
    display: none;
    left: 50%;
    top: 7.5%;
    color: #FFF;
    animation: msg-in-out 3s forwards;
}

.button-box {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    gap: 1rem;
    bottom: calc(100% - 3rem - 20px);
}

#canvas-box:has(.button-box>#help[data-help="1"]) .msg,
#canvas-box:has(.button-box>#help[data-help="1"])::before {
    display: block;
}

#canvas-box .button-box .breadcrumbs {
    margin-right: auto;
    font-size: 2rem;
    line-height: 2rem;
    color: white;
    cursor: pointer;
}

#canvas-box .button-box .button {
    width: 2.5rem;
    height: 2.5rem;
}

#canvas-box .button-box svg {
    width: 100%;
    height: 100%;
}

#canvas-box .info {
    position: absolute;
    display: none;
    width: fit-content;
    height: fit-content;
    background-color: white;
}
